@using StpFoodBlazor.Helpers
@using StpFoodBlazor.Services
@using StpFoodBlazor.Models
@using StpFoodBlazor.Components.Layout
@inject IDealService DealServiceImpl
@inject ITimeService TimeServiceImpl


@page "/"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Deals</PageTitle>
    <div class="container mb-5">
        <DealFilterBar selectedDayOfWeek="@selectedDayOfWeek" OnSelectedDayChanged="OnSelectedDayChanged"
            happyHour="@happyHour" OnHappyHourChanged="OnHappyHourChanged" />
@if (deals == null)
{
        <DealTableHeader selectedDayOfWeek="@TimeServiceImpl.GetDayOfWeek()" />
        <DealTableBodyPlaceholder />
}
else
{
        <DealTableHeader selectedDayOfWeek="@selectedDayOfWeek" />
        <DealTableBody deals="@deals" selectedDayOfWeek="@selectedDayOfWeek" />
}
    </div>

@code {
    private DealEvent[]? deals;
    private DealEvent[]? allDeals = null;
    private string? selectedDayOfWeek = null;

    private bool happyHour = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            allDeals = await DealServiceImpl.GetDealsAsync();
            selectedDayOfWeek = TimeServiceImpl.GetDayOfWeek();
            FilterDeals();
            SortDeals();
            StateHasChanged();
        }
    }

    void OnSelectedDayChanged(ChangeEventArgs e)
    {
        selectedDayOfWeek = (string?)e.Value;
        FilterDeals();
        SortDeals();
    }

    void OnHappyHourChanged(ChangeEventArgs e)
    {
        if (e.Value is bool value)
        {
            happyHour = value;
        }
        FilterDeals();
        SortDeals();
    }

    private void FilterDeals()
    {
        DealFilter filter = new DealFilter();
        filter.Deals = allDeals;
        filter.Day = selectedDayOfWeek;
        filter.HappyHour = happyHour;
        deals = filter.Filter();
    }

    private void SortDeals()
    {
        deals = DealSorter.Sort(deals);
    }
}
