@using StpFoodBlazor.Services
@using StpFoodBlazor.Models
@inject IDealService HttpDealService


@page "/deals"
@attribute [StreamRendering]

<PageTitle>Deals</PageTitle>

<h1>Deals</h1>

@if (deals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <select class="select-element" id="day-of-week-select" @bind="selectedDayOfWeek">
        <option value="">All</option>
        @foreach (var dow in daysOfWeek)
        {
            <option value="@dow">@dow</option>
        }
    </select>
    <table class="table" id="deals_table">
        <thead>
            <tr>
                <th>Place</th>
                <th>Deal</th>
                <th>Day</th>
            </tr>
        </thead>
        <tbody id="deals_table_body">
            @foreach (var deal in deals)
            {
                <tr>
                    <td>@deal.Name</td>
                    <td>@deal.Deal</td>
                    <td>@deal.Day</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DealEvent[]? deals;
    private string? selectedDayOfWeek = DateTime.Today.DayOfWeek.ToString();
    private static readonly List<DayOfWeek> daysOfWeek = Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>().ToList();

    protected override async Task OnInitializedAsync()
    {
        deals = await HttpDealService.GetDealsAsync();
    }
}
